@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #c9e3ac;
    --text-color: #37371f;
    --accent-color: #90be6d;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    color: #37371f;
}

nav {
    height: 60px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.link-container {
    height: 100%;
    width: 100%;    
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    background-color: var(--accent-color);
}   

nav .home-link {
    margin-right: auto;
}

nav .home-link img {
    width: 150px;
}

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
}

svg {
    fill: var(--text-color);
}

@media (max-width: 450px) {
    .link-container {
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--primary-color);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }

    .link-container a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
    }

    .open-sidebar-button, .close-sidebar-button {
        display: block;
        padding: 20px;
    }

    #sidebar-active:checked ~ .link-container {
        right: 0;
    }

    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

.dummy {
    width: 150px;
    padding-right: 20px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 50px;
}

#header {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

#title {
    font-size: 50px;
    font-weight: 500;
}

#my-desc {
    width: 400px;
    margin-top: 0px;
}

.img-frame {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--accent-color);
}

.img-profile {
    width: 250px;
    border-radius: 10px;
}

#cta{
    padding-top: 20px;
    font-size: 14px;
}

#cta-img {
    color: #877529;
    font-weight: bold;
    text-decoration: none;
}

.container2 {
    padding: 10px 50px 50px 50px;
    background-color: whitesmoke;
}

.page-title {
    text-align: center;
    font-weight: 600;
}

.page-content {
    display: flex;
    justify-content: space-evenly;
}

.content{
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.img-port {
    width: 200px;
    border-radius: 10px;
    margin: 20px;
}

.subtitle {
    margin-top: 0px;
}

.desc-content {
    width: 200px;
    margin: 20px;
    font-size: 14px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 50px 50px 50px;
}

#contact {
    list-style-type: none;
    line-height: 1px;
    display: flex;
    margin-top: 0px;
}